*
{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}



body{

    background:#ff0;
}



.contentphoto
{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    width:150px;
    
    justify-content: flex-end;
    margin-top: 10px;
    
}

header img
{
    margin-top: 10px;
    padding:0;

    height: 50px;
    
    top:0;
    
   

}


header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    padding: 10px 100px;
    background: rgba(0,0,0,0.5);
    padding-top: 0;
   
    
    
    
}
header .logo
{
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
    

    

}

header ul
{
    margin-top: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;


}
header ul li{
    position: relative;
    list-style: none;
    margin-left: 40px;
}

header ul li a
{
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;

}

header ul li a:hover
{
    
    color:#5d9d0b;;
    transition:0.9s;
   
    
   

}


.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.banner .imageBox
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;


}

.banner .imageBox img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: 0.5s;
    background-position: center;

}
.banner .imageBox img.active
{
    opacity: 1;
}

.controls
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 80px;
}

.controls li
{
    position: relative;
    width: 50px;
    height: 50px;
    background: #fff;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s ease;
    margin-bottom: 10px;
    border-radius: 20px;
}
.controls li:hover
{
    background: transparent;
}
.controls li:before
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-left: 3px solid #111;
    border-bottom: 3px solid #111;
    transform: rotate(45deg);
}
.controls li:nth-child(2):before
{
    transform: rotate(225deg);
}

.contentBox
{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    width: 100%;
    
}
.contentBox div
{
    display:none;

}

.contentBox div.active
{
    display: block;
    padding:30px;
    padding-left: 30px;
    background: rgba(0,0,0,0.5);
    width: 100%;
    
    
   

}

.contentBox div h2
{
    color: #fff;
    font-size: 2em;
    margin-left: 200px;

}

.contentBox div p
{
    color: #fff;
    font-size: 1.1em;
    margin-left: 200px;

}

.contentBox div a
{
    color: #111;
    font-size: 1.1em;
    display: inline-block;
    padding: 10px 30px;
    background:#fff ;
    margin-top: 10px;
    font-weight: 250;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 200px;
    



}
.contentBox a:hover
{
    box-shadow: #32325d40 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    box-shadow: rgba(255, 255, 255, 0.82) 0px 3px 8px;
    
    transition:0.4s ease-in-out;
    



}
.contentBox a:hover::after
{
    box-shadow:none;
    transition: 1s ease-out;
   
    



}

.contentBox a
{
    border-radius: 30px;
    
    transition: all .3s ease;
    

}